.menu {
    background-color:rgba(0, 0, 0, 0);
    height: 65px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;  
}
 .menu-background {
        background-color: black;
    }
.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 35px;
}
.menu-items {
    background: #414141;
    display: flex;
    flex-direction: column;
    height: calc(100% - 65px);
    list-style: none;
    margin-right: 35px;
    position: fixed;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    width: 100vw;
}
.menu-items li {
    border-radius: 3px;
    margin: 30px 0 0 0;
    line-height: 30px;
}
.menu-items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    color: white;
}

.menu-items a:hover, a.active {
    color: #63FFEC;
    border-bottom: solid 4px #63FFEC;
    transition: .5s;
} 

.btn-menu {
    margin-right: 30px;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    display: inline-flex;
}
ul.show {
    top: 65px;
}

.hero-container {
    background-color: #172231;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px;
}
.profile-picture-container {
    margin-top: 20px;
    margin-bottom: 40px;
}
.profile-picture-container img {
    max-width: 300px;
}
.name {
    color: #63FFEC;
}

.presentation-container {
    text-align: center;
}
.presentation-container .presentation-name {
    color: white;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 2rem;
}
.presentation-container .presentation-job {
    color: white;
    font-size: 4.5rem;
    font-size: 4.5rem;
    margin-bottom: 20px;
}
.presentation-container .address {
    color: #E26DD7;
    font-size: 1.6rem;
    margin-bottom: 30px;
}
.presentation-container .button-left {
    background-color: #63FFEC;
    font-size: 1.6rem;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.presentation-container .a-button-right {
    color: #63FFEC;
    display: block;
    font-size: 1.6rem;
    margin-bottom: 40px;
    text-align: center;

    padding-bottom: 35px;
}

.description-container {
    background-color: #242E3C;
    color: white;
    font-size: 1.6rem;
    padding: 70px 30px;
}
.description-container h3 {
    color: #63FFEC;
    text-align: justify;
    padding-bottom: 30px;
}
.description-container p {
    padding-bottom: 20px;
    text-align:justify;
}
.description-buttons-container {
    text-align: start;
    margin-top: 10px;
}
.description-buttons-container .btn-hire-me {
    background-color:#E26DD7;
    font-size: 1.6rem;
    border: none;
    border-radius: 50px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
}
.description-buttons-container .btn-hire-me a {
    color: white;
}
.description-buttons-container .btn-download-cv {
    background-color: transparent;
    font-size: 1.6rem;
    border: solid 2px #63FFEC;
    border-radius: 50px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.skills-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
}
.skill-item {
    align-items: center;
    background-color: #242E3C;
    display: flex;
    height: 100px;
    margin: 20px 0;
    width: 100%;
}
.vertical-light {
    width: 10px;
    height: 100%;
    background-color: #63FFEC;
    margin-right: 20px;
}
.iconify {
    color: #63FFEC;
    font-size: 50px;
    margin-right: 20px;
}

.card-section{
    background-color: #242E3C;
    padding-top: 40px;
    padding-bottom: 20px;
}
.card-section .title-projects {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    /* display: block; */
    /* justify-self: center; */
}
.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.cards-container .card {
    width: 100%;
    height: 300px;
    background-color: #172231;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.cards-container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 10px rgba(9, 230, 204, 0.9);
}
.cards-container .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin-bottom: 27px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
.social-media-container {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.social-media-container .linkedin {
    color: white;
    margin: 7px;
    width: 40px;
}
.social-media-container .twitter {
    color: white;
    margin: 7px;
    width: 40px;
}
.horizontal-line {
    border-bottom: solid 2px #63FFEC;
    width: 130px;
    margin: 0 auto;
}

@media (min-width: 500px) {
    .description-container h3 {
        color: #63FFEC;
        text-align: center;
        padding-bottom: 30px;
    }
    .description-container p {
        padding: 0 15vw;
        padding-bottom: 20px;
        text-align: center;
    }
    .description-buttons-container {
        text-align: center;
        margin-top: 10px;
    }

    .cards-container .card {
        width: 80%;
    }
    .skills-container {
        justify-content: center;
        padding: 60px 0;
    }
    .skill-item {
        width: 40%;
        margin: 30px;
    }

}
@media (min-width: 700px) {
    .cards-container .card {
        width: 40%;
    }
    .hero-container {
        flex-direction: row;
        justify-content: space-between;
        min-height: calc(50vh - 50px);
    }
    .profile-picture-container {
        order: 1;
    }
    .presentation-container {
        text-align: left;
    }
    .profile-picture-container img {
        max-width: 270px;
    }
    .presentation-container .button-left {
        display: inline;
        margin-right: 40px;
    }
    .presentation-container .a-button-right {
        display: inline;
    }
    .presentation-container .presentation-name {
        font-size: 4rem;
    }
    .presentation-container .presentation-job {
        font-size: 5rem;
        padding-left: 0;
    }
    .presentation-container .address {
        font-size: 2rem;
    }
    .presentation-container .button-left {
        font-size: 1.8rem;
        padding: 15px 40px;
    }
    .presentation-container .a-button-right {
        font-size: 1.8rem;
    }
}

@media (min-width: 900px) {
    .cards-container .card {
        width: 35%;
    }
    .skills-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}  

@media (min-width: 1000px) {
    .menu {
        position: fixed;
    }

    .logo {
        padding: 53px;
    }

    .menu-items {
        align-items: center;
        background: none;
        flex-direction: row;
        display: flex;
        width: auto;
        justify-content: flex-end;
        list-style: none;
        margin-right: 53px;
        position: static;
        text-align: center;
    }
    .menu-items li {
        border-radius: 0px;
        margin: 0 0 0 0;
        line-height: 30px;
    }
    .btn-menu {
        margin-right: 30px;
        font-size: 2.5rem;
        color: white;
        cursor: pointer;
        display: none;
    }

    .hero-container {
        padding-top: 65px;
    }

    .cards-container .card {
        width: 23%;
    }
    .profile-picture-container img {
        max-width: 360px;
    }
    .presentation-container .presentation-name {
        margin-left: 2px;
    }
    .presentation-container .presentation-job {
        font-size: 6rem;
    }
    .presentation-container .address {
        margin-left: 4px;
    }
    
}

@media (min-width: 1200px) {
    .logo {
        padding: 70px;
    }
    .menu-items {
        margin-right: 68px;
    }

    .profile-picture-container img {
        max-width: 430px;
    }
    .hero-container {
        min-height: calc(100vh - 50px);
        padding-top: 130px;
    }

    .presentation-container .presentation-name {
        margin-left: 5px;
    }
    .presentation-container .presentation-job {
        font-size: 8.5rem;
    }
    .presentation-container .address {
        margin-left: 6px;
    }

    .description-container p {
        padding: 0 25vw;
        padding-bottom: 20px;
    }
}